* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: lightgrey;
  color: black;
  line-height: 1;
}

.site-header {
  background-color: #003366;
  color: white;
  padding: 15px;
  text-align: center;
}

.main-title {
  margin: 0 0 20px;
  font-size: 32px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-list a:hover {
  font-weight: 550;
}

.form-section,
.content-section {
  max-width: 700px;
  margin: 35px auto;
  padding: 25px;
  background-color: white;
  border: 1px solid #003366;
  border-radius: 12px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 25px;
  color: #003366;
}

.registration-form {
  position: relative;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fafafa;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-field input,
.form-field select {
  width: 100%;
  padding: 11px 12px;

  border: 1px solid gray;
  border-radius: 7px;

  font: inherit;
  background-color: white;
}

.form-field input:focus,
.form-field select:focus {
  outline: none;
  border-color: #003366;
}

fieldset {
  margin: 20px 0;
  padding: 18px;

  border: 1px solid gray;
  border-radius: 8px;
}

legend {
  padding: 0 8px;
  font-weight: 600;
}

.button-group {
  margin-top: 25px;

  display: flex;
  gap: 10px;
}

.submit-button,
.reset-button {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font: inherit;
  font-weight: 600;
  cursor: pointer;
}

.submit-button {
  background-color: #003366;
  color: white;
}

.reset-button {
  background-color: lightgray;
  color: rgb(61, 59, 59);
}

.submit-button:hover,
.reset-button:hover {
  opacity: 0.8;
}

.interest-list {
  padding-left: 25px;
}

.interest-list li {
  margin-bottom: 8px;
}

.grades-table {
  width: 100%;
  border-collapse: collapse;
}

.grades-table th,
.grades-table td {
  padding: 12px;
  border: 1px solid gray;
  text-align: center;
}

.grades-table th {
  background-color: #003366;
  color: white;
}

.grades-table tr:nth-child(even) {
  background-color: white;
}

.site-footer {
  margin-top: 40px;
  padding: 20px;

  background-color: #003366;
  color: white;

  text-align: center;
}
